In [1]:
import pandas as pd
import numpy as np

In [2]:
def CreateVariableSummary(df, save=None):
    """
    Input: 
      df = data frame to summarise
      save = string name of dataframe you wish to save
    Returns:
      A dataframe that breaks down all variables in a dataframe by unique, missing, datatype, and frequency,
      Option to save the file
    """
    result = pd.DataFrame({
        'Col':          df.columns,
        'Unique':       [df[col].nunique() for col in df.columns],
        'Missing':      [len(df[col]) - df[col].count() for col in df.columns],
        'Datatype':     list(df.dtypes),
        'Most Freq':    [list(df[col].value_counts().index[:5]) for col in df.columns],
        'Least Freq':   [list(df[col].value_counts().index[-5:]) for col in df.columns]})
    
    if save != None:
        result.to_excel(f"{WRKDIR}/Data/new/'VariableSummary{save}.xls", index = False)

    return result

In [3]:
# This path will be active after the launch of the hackathon
teamname = '9417-brhuang-unsw'
data_folder='s3://tf-trachack-data/212/'
# change root_folder to your team's root folder
# s3://tf-trachack-notebooks/<this should be replaced by team name as provided in EMAIL>/jupyter/jovyan/
root_folder='s3://tf-trachack-notebooks/'+'9417-brhuang-unsw'+'/jupyter/jovyan/'

In [4]:
up_lrp = pd.read_csv(root_folder+"sample-notebook/up_lrp_to_merge.csv")
rosh = pd.read_csv(root_folder+"sample-notebook/roshan-cleaned-nodates.csv")
mark = pd.read_csv(root_folder+"sample-notebook/mark-cleaned-final.csv")
peter = pd.read_csv(root_folder+"sample-notebook/final_network.csv")

In [5]:
CreateVariableSummary(up_lrp)

,Col,Unique,Missing,Datatype,Most Freq,Least Freq
0,line_id,55868,0,object,"[2dc52f10-957c-4885-9624-53f051c8ecb1, 0c30a8e...","[10094bba-540e-4974-a60f-1d0df7371cfd, 4fcd439..."
1,upgrade,2,0,int64,"[0, 1]","[0, 1]"
2,quantity,2229,0,float64,"[0.0, 240.0, 280.0, 250.0, 320.0]","[1174.0, 2853.0, 3358.0, 147.0, 5821.0]"
3,total_quantity,2286,0,float64,"[0.0, 240.0, 280.0, 250.0, 320.0]","[8385.0, 8234.0, 987.0, 704.0, 2175.0]"
4,lrp_enrolled,2,0,int64,"[0, 1]","[0, 1]"
5,length_of_membership,1655,0,float64,"[0.0, 60.0, 122.0, 59.0, 121.0]","[1395.0, 1786.0, 695.0, 1384.0, 1251.0]"
6,last_interaction,1595,0,float64,"[0.0, 60.0, 59.0, 58.0, 57.0]","[1174.0, 550.0, 615.0, 1431.0, 1288.0]"

In [6]:
CreateVariableSummary(rosh)

,Col,Unique,Missing,Datatype,Most Freq,Least Freq
0,line_id,55868,0,object,"[2dc52f10-957c-4885-9624-53f051c8ecb1, 0c30a8e...","[10094bba-540e-4974-a60f-1d0df7371cfd, 4fcd439..."
1,upgrade,2,0,int64,"[0, 1]","[0, 1]"
2,carrier_carrier 1,2,0,int64,"[1, 0]","[1, 0]"
3,carrier_carrier 2,2,0,int64,"[0, 1]","[0, 1]"
4,carrier_carrier 3,2,0,int64,"[0, 1]","[0, 1]"
5,plan_name_Other,2,0,int64,"[0, 1]","[0, 1]"
6,plan_name_not_given,2,0,int64,"[0, 1]","[0, 1]"
7,plan_name_plan 1,2,0,int64,"[0, 1]","[0, 1]"
8,plan_name_plan 2,2,0,int64,"[0, 1]","[0, 1]"
9,plan_name_plan 3,2,0,int64,"[0, 1]","[0, 1]"
10,plan_name_plan 4,2,0,int64,"[0, 1]","[0, 1]"
11,total_redemptions,84,0,float64,"[1.0, 2.0, 3.0, 4.0, 5.0]","[65.0, 108.0, 96.0, 104.0, 118.0]"
12,total_suspensions,109,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[102.0, 99.0, 96.0, 104.0, 91.0]"
13,total_unsuspensions,109,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[102.0, 99.0, 96.0, 104.0, 91.0]"
14,total_deactivations,48,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[45.0, 41.0, 44.0, 46.0, 47.0]"
15,total_reactivations,48,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[41.0, 45.0, 44.0, 46.0, 47.0]"
16,reactivation_channel_APP,35,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[30.0, 28.0, 29.0, 32.0, 36.0]"
17,reactivation_channel_IVR,48,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[43.0, 44.0, 45.0, 46.0, 47.0]"
18,reactivation_channel_SMS,26,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[22.0, 21.0, 24.0, 19.0, 26.0]"
19,reactivation_channel_TAS,20,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[33.0, 25.0, 12.0, 17.0, 14.0]"
20,reactivation_channel_WEB,44,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[36.0, 35.0, 41.0, 45.0, 39.0]"
21,reactivation_channel_other,35,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[28.0, 20.0, 22.0, 15.0, 37.0]"

In [7]:
rosh.fillna(0, axis=1, inplace=True)
CreateVariableSummary(rosh)

,Col,Unique,Missing,Datatype,Most Freq,Least Freq
0,line_id,55868,0,object,"[2dc52f10-957c-4885-9624-53f051c8ecb1, 0c30a8e...","[10094bba-540e-4974-a60f-1d0df7371cfd, 4fcd439..."
1,upgrade,2,0,int64,"[0, 1]","[0, 1]"
2,carrier_carrier 1,2,0,int64,"[1, 0]","[1, 0]"
3,carrier_carrier 2,2,0,int64,"[0, 1]","[0, 1]"
4,carrier_carrier 3,2,0,int64,"[0, 1]","[0, 1]"
5,plan_name_Other,2,0,int64,"[0, 1]","[0, 1]"
6,plan_name_not_given,2,0,int64,"[0, 1]","[0, 1]"
7,plan_name_plan 1,2,0,int64,"[0, 1]","[0, 1]"
8,plan_name_plan 2,2,0,int64,"[0, 1]","[0, 1]"
9,plan_name_plan 3,2,0,int64,"[0, 1]","[0, 1]"
10,plan_name_plan 4,2,0,int64,"[0, 1]","[0, 1]"
11,total_redemptions,84,0,float64,"[1.0, 2.0, 3.0, 4.0, 5.0]","[65.0, 108.0, 96.0, 104.0, 118.0]"
12,total_suspensions,109,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[102.0, 99.0, 96.0, 104.0, 91.0]"
13,total_unsuspensions,109,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[102.0, 99.0, 96.0, 104.0, 91.0]"
14,total_deactivations,48,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[45.0, 41.0, 44.0, 46.0, 47.0]"
15,total_reactivations,48,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[41.0, 45.0, 44.0, 46.0, 47.0]"
16,reactivation_channel_APP,35,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[30.0, 28.0, 29.0, 32.0, 36.0]"
17,reactivation_channel_IVR,48,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[43.0, 44.0, 45.0, 46.0, 47.0]"
18,reactivation_channel_SMS,26,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[22.0, 21.0, 24.0, 19.0, 26.0]"
19,reactivation_channel_TAS,20,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[33.0, 25.0, 12.0, 17.0, 14.0]"
20,reactivation_channel_WEB,44,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[36.0, 35.0, 41.0, 45.0, 39.0]"
21,reactivation_channel_other,35,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[28.0, 20.0, 22.0, 15.0, 37.0]"

In [8]:
CreateVariableSummary(rosh)

,Col,Unique,Missing,Datatype,Most Freq,Least Freq
0,line_id,55868,0,object,"[2dc52f10-957c-4885-9624-53f051c8ecb1, 0c30a8e...","[10094bba-540e-4974-a60f-1d0df7371cfd, 4fcd439..."
1,upgrade,2,0,int64,"[0, 1]","[0, 1]"
2,carrier_carrier 1,2,0,int64,"[1, 0]","[1, 0]"
3,carrier_carrier 2,2,0,int64,"[0, 1]","[0, 1]"
4,carrier_carrier 3,2,0,int64,"[0, 1]","[0, 1]"
5,plan_name_Other,2,0,int64,"[0, 1]","[0, 1]"
6,plan_name_not_given,2,0,int64,"[0, 1]","[0, 1]"
7,plan_name_plan 1,2,0,int64,"[0, 1]","[0, 1]"
8,plan_name_plan 2,2,0,int64,"[0, 1]","[0, 1]"
9,plan_name_plan 3,2,0,int64,"[0, 1]","[0, 1]"
10,plan_name_plan 4,2,0,int64,"[0, 1]","[0, 1]"
11,total_redemptions,84,0,float64,"[1.0, 2.0, 3.0, 4.0, 5.0]","[65.0, 108.0, 96.0, 104.0, 118.0]"
12,total_suspensions,109,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[102.0, 99.0, 96.0, 104.0, 91.0]"
13,total_unsuspensions,109,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[102.0, 99.0, 96.0, 104.0, 91.0]"
14,total_deactivations,48,0,float64,"[1.0, 0.0, 2.0, 3.0, 4.0]","[45.0, 41.0, 44.0, 46.0, 47.0]"
15,total_reactivations,48,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[41.0, 45.0, 44.0, 46.0, 47.0]"
16,reactivation_channel_APP,35,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[30.0, 28.0, 29.0, 32.0, 36.0]"
17,reactivation_channel_IVR,48,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[43.0, 44.0, 45.0, 46.0, 47.0]"
18,reactivation_channel_SMS,26,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[22.0, 21.0, 24.0, 19.0, 26.0]"
19,reactivation_channel_TAS,20,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[33.0, 25.0, 12.0, 17.0, 14.0]"
20,reactivation_channel_WEB,44,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[36.0, 35.0, 41.0, 45.0, 39.0]"
21,reactivation_channel_other,35,0,float64,"[0.0, 1.0, 2.0, 3.0, 4.0]","[28.0, 20.0, 22.0, 15.0, 37.0]"

In [9]:
CreateVariableSummary(mark)

,Col,Unique,Missing,Datatype,Most Freq,Least Freq
0,line_id,55868,0,object,"[2dc52f10-957c-4885-9624-53f051c8ecb1, 0c30a8e...","[10094bba-540e-4974-a60f-1d0df7371cfd, 4fcd439..."
1,date_observed,5,0,object,"[2021-03-11, 2021-03-10, 2021-03-14, 2021-03-1...","[2021-03-11, 2021-03-10, 2021-03-14, 2021-03-1..."
2,upgrade,2,0,object,"[no, yes]","[no, yes]"
3,sim_size,6,0,object,"[Nano, none, Micro, Micro & Nano, Mini]","[none, Micro, Micro & Nano, Mini, Micro & Mini]"
4,cpu_cores_2,2,0,int64,"[0, 1]","[0, 1]"
5,cpu_cores_2+4,2,0,int64,"[0, 1]","[0, 1]"
6,cpu_cores_4,2,0,int64,"[0, 1]","[0, 1]"
7,cpu_cores_8,2,0,int64,"[0, 1]","[0, 1]"
8,cpu_cores_none,2,0,int64,"[0, 1]","[0, 1]"
9,cpu_cores_other,2,0,int64,"[0, 1]","[0, 1]"
10,expandable_storage_-1.0,2,0,int64,"[0, 1]","[0, 1]"
11,expandable_storage_0.0,2,0,int64,"[0, 1]","[0, 1]"
12,expandable_storage_1.0,2,0,int64,"[0, 1]","[0, 1]"
13,gsma_device_type_Smartphone,2,0,int64,"[1, 0]","[1, 0]"
14,gsma_device_type_none,2,0,int64,"[0, 1]","[0, 1]"
15,gsma_device_type_other,2,0,int64,"[0, 1]","[0, 1]"
16,gsma_operating_system_Android,2,0,int64,"[0, 1]","[0, 1]"
17,gsma_operating_system_iOS,2,0,int64,"[0, 1]","[0, 1]"
18,gsma_operating_system_none,2,0,int64,"[0, 1]","[0, 1]"
19,gsma_operating_system_other,2,0,int64,"[0, 1]","[0, 1]"
20,internal_storage_capacity_16,2,0,int64,"[0, 1]","[0, 1]"
21,internal_storage_capacity_16/32/64/128,2,0,int64,"[0, 1]","[0, 1]"
22,internal_storage_capacity_32/128/256,2,0,int64,"[0, 1]","[0, 1]"
23,internal_storage_capacity_none,2,0,int64,"[0, 1]","[0, 1]"
24,internal_storage_capacity_other,2,0,int64,"[0, 1]","[0, 1]"
25,lte_category_-1.0,2,0,int64,"[0, 1]","[0, 1]"
26,lte_category_4.0,2,0,int64,"[0, 1]","[0, 1]"
27,lte_category_6.0,2,0,int64,"[0, 1]","[0, 1]"
28,lte_category_9.0,2,0,int64,"[0, 1]","[0, 1]"
29,lte_category_12.0,2,0,int64,"[0, 1]","[0, 1]"
30,lte_category_16.0,2,0,int64,"[0, 1]","[0, 1]"
31,lte_category_other,2,0,int64,"[0, 1]","[0, 1]"
32,manufacturer_Apple,2,0,int64,"[0, 1]","[0, 1]"
33,manufacturer_LG,2,0,int64,"[0, 1]","[0, 1]"
34,manufacturer_Samsung,2,0,int64,"[0, 1]","[0, 1]"
35,manufacturer_none,2,0,int64,"[0, 1]","[0, 1]"
36,manufacturer_other,2,0,int64,"[0, 1]","[0, 1]"
37,os_name_Android,2,0,int64,"[0, 1]","[0, 1]"
38,os_name_iOS,2,0,int64,"[0, 1]","[0, 1]"
39,os_name_none,2,0,int64,"[0, 1]","[0, 1]"
40,os_name_other,2,0,int64,"[0, 1]","[0, 1]"
41,os_version_10,2,0,int64,"[0, 1]","[0, 1]"
42,os_version_11,2,0,int64,"[0, 1]","[0, 1]"
43,os_version_12,2,0,int64,"[0, 1]","[0, 1]"
44,os_version_6.0.1,2,0,int64,"[0, 1]","[0, 1]"
45,os_version_7,2,0,int64,"[0, 1]","[0, 1]"
46,os_version_8,2,0,int64,"[0, 1]","[0, 1]"
47,os_version_8.1,2,0,int64,"[0, 1]","[0, 1]"
48,os_version_9,2,0,int64,"[0, 1]","[0, 1]"
49,os_version_none,2,0,int64,"[0, 1]","[0, 1]"
50,os_version_other,2,0,int64,"[0, 1]","[0, 1]"
51,total_ram_1024,2,0,int64,"[0, 1]","[0, 1]"
52,total_ram_2048,2,0,int64,"[0, 1]","[0, 1]"
53,total_ram_3072,2,0,int64,"[0, 1]","[0, 1]"
54,total_ram_4096,2,0,int64,"[0, 1]","[0, 1]"
55,total_ram_none,2,0,int64,"[0, 1]","[0, 1]"
56,total_ram_other,2,0,int64,"[0, 1]","[0, 1]"

In [10]:
CreateVariableSummary(peter)

,Col,Unique,Missing,Datatype,Most Freq,Least Freq
0,line_id,55868,0,object,"[2dc52f10-957c-4885-9624-53f051c8ecb1, 09fc957...","[44a3434d-097e-43cd-9747-56e68058917e, 8bb94dd..."
1,hotspot_kb,7933,0,float64,"[0.0, 265011.92727444554, 5425.41026842272, 16...","[160010.99156920303, 14701.88399251302, 4154.2..."
2,total_kb,46488,0,float64,"[0.0, 61939.9018404908, 736153.3880696616, 103...","[146048.07845908718, 101371.08111017401, 199.4..."
3,voice_count_total,26333,0,float64,"[0.0, 1.0, 2.0, 0.5, 3.0]","[6.827338129496403, 1.6050420168067228, 2.0427..."
4,voice_min_total,36449,0,float64,"[0.0, 1.0, 4.0, 3.0, 2.0]","[58.98773006134971, 34.736842105263165, 30.407..."
5,mms_total,15878,0,float64,"[0.0, 0.06666666666666668, 0.2, 0.25, 0.5]","[0.674074074074074, 0.7066666666666667, 0.2421..."
6,sms_total,32973,0,float64,"[0.0, 1.0, 2.0, 0.5, 3.0]","[4.903614457831326, 0.5604395604395604, 13.2, ..."
7,length_of_connection,185,0,float64,"[220.0, 223.0, 221.0, 224.0, 222.0]","[45.0, 44.0, 43.0, 41.0, 42.0]"
8,upgrade,2,0,int64,"[0, 1]","[0, 1]"
9,used_network,2,0,float64,"[1.0, 0.0]","[1.0, 0.0]"

In [11]:

peter.shape[0]

55868

### removing date_observed and upgrade column

In [12]:
rosh.drop(['upgrade'], axis=1, inplace=True)
mark.drop(['upgrade'], axis=1, inplace=True)
#peter.drop(['date_observed', 'upgrade', 'first_date'], axis=1, inplace=True)
peter.drop(['upgrade'], axis=1, inplace=True)

#### joining all tables together

In [13]:
df = up_lrp.merge(rosh, on='line_id', how='left')
df = df.merge(mark, on='line_id', how='left')
df = df.merge(peter, on='line_id', how='left')
df

,line_id,upgrade,quantity,total_quantity,lrp_enrolled,length_of_membership,last_interaction,carrier_carrier 1,carrier_carrier 2,carrier_carrier 3,...,total_ram_none,total_ram_other,hotspot_kb,total_kb,voice_count_total,voice_min_total,mms_total,sms_total,length_of_connection,used_network
0,f0b99d3b-32f7-4464-8fa8-87f27c9810a8,1,0.0,0.0,1,1848.0,1848.0,1,0,0,...,0,1,0.000000,2.871749e+05,0.222222,0.538889,4.850000,4.650000,220.0,1.0
1,a2ec0baf-1720-4b1b-bfa3-db00ac8fcb00,1,0.0,0.0,1,180.0,180.0,1,0,0,...,0,0,52.977778,5.256640e+05,3.461111,6.350000,0.416667,2.477778,224.0,1.0
2,dd3a01a3-7baf-4605-9799-ce434328a20d,0,0.0,0.0,0,0.0,0.0,1,0,0,...,0,0,0.000000,1.990593e+05,1.763314,3.455621,0.218935,8.053254,219.0,1.0
3,5cf5917c-f407-4cc7-9d6d-dafe8ec0eccc,0,0.0,0.0,0,0.0,0.0,1,0,0,...,0,0,0.000000,2.412951e+05,3.159091,34.590909,6.136364,31.590909,85.0,1.0
4,6437fcbd-02c4-4c52-b5b2-f7e535ecec47,1,0.0,0.0,0,0.0,0.0,1,0,0,...,0,1,0.000000,1.023210e+06,6.061111,22.461111,1.016667,11.933333,224.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55863,f89b108a-f453-4419-a4dc-5bf8e1cd1f1a,0,0.0,0.0,0,0.0,0.0,1,0,0,...,1,0,0.000000,1.175783e+05,13.696970,21.642424,0.242424,13.927273,215.0,1.0
55864,b703f1d4-57ba-48b6-8adf-46d7aba6a406,0,3049.0,3049.0,1,627.0,64.0,1,0,0,...,0,0,2871.596181,1.283120e+06,6.544444,26.194444,8.794444,145.922222,221.0,1.0
55865,e3b2212c-906e-4a8f-8307-6b88fc64d7a0,0,0.0,0.0,1,98.0,98.0,1,0,0,...,1,0,0.000000,1.008822e+06,5.307692,10.807692,0.365385,19.442308,97.0,1.0
55866,828df9bf-279c-47c3-96c2-92177a50b8fd,0,0.0,0.0,0,0.0,0.0,1,0,0,...,0,1,0.000000,1.787508e+00,15.693878,58.714286,0.000000,12.489796,89.0,1.0
55867,a0a14009-da02-4989-bdce-bc66146e0324,1,0.0,0.0,0,0.0,0.0,1,0,0,...,1,0,0.000000,7.842835e+05,10.622222,47.061111,1.261111,16.616667,223.0,1.0

In [14]:
CreateVariableSummary(df)[CreateVariableSummary(df)['Missing'] != 0]

Empty DataFrame
Columns: [Col, Unique, Missing, Datatype, Most Freq, Least Freq]
Index: []

In [15]:
CreateVariableSummary(df)

,Col,Unique,Missing,Datatype,Most Freq,Least Freq
0,line_id,55868,0,object,"[2dc52f10-957c-4885-9624-53f051c8ecb1, 0c30a8e...","[10094bba-540e-4974-a60f-1d0df7371cfd, 4fcd439..."
1,upgrade,2,0,int64,"[0, 1]","[0, 1]"
2,quantity,2229,0,float64,"[0.0, 240.0, 280.0, 250.0, 320.0]","[1174.0, 2853.0, 3358.0, 147.0, 5821.0]"
3,total_quantity,2286,0,float64,"[0.0, 240.0, 280.0, 250.0, 320.0]","[8385.0, 8234.0, 987.0, 704.0, 2175.0]"
4,lrp_enrolled,2,0,int64,"[0, 1]","[0, 1]"
...,...,...,...,...,...,...
85,voice_min_total,36449,0,float64,"[0.0, 1.0, 4.0, 3.0, 2.0]","[7.949720670391061, 11.071428571428573, 20.788..."
86,mms_total,15878,0,float64,"[0.0, 0.06666666666666668, 0.2, 0.25, 0.5]","[0.4855491329479769, 0.961904761904762, 12.362..."
87,sms_total,32973,0,float64,"[0.0, 1.0, 2.0, 0.5, 3.0]","[34.75, 6.7415730337078665, 17.54494382022472,..."
88,length_of_connection,185,0,float64,"[220.0, 223.0, 221.0, 224.0, 222.0]","[45.0, 44.0, 43.0, 41.0, 42.0]"
89,used_network,2,0,float64,"[1.0, 0.0]","[1.0, 0.0]"

In [16]:
df.to_csv(root_folder+"sample-notebook/final_dataset.csv",header=True,index=None)

In [17]:
test = pd.read_csv(root_folder+'sample-notebook/final_dataset.csv')

In [18]:
test

,line_id,upgrade,quantity,total_quantity,lrp_enrolled,length_of_membership,last_interaction,carrier_carrier 1,carrier_carrier 2,carrier_carrier 3,...,total_ram_none,total_ram_other,hotspot_kb,total_kb,voice_count_total,voice_min_total,mms_total,sms_total,length_of_connection,used_network
0,f0b99d3b-32f7-4464-8fa8-87f27c9810a8,1,0.0,0.0,1,1848.0,1848.0,1,0,0,...,0,1,0.000000,2.871749e+05,0.222222,0.538889,4.850000,4.650000,220.0,1.0
1,a2ec0baf-1720-4b1b-bfa3-db00ac8fcb00,1,0.0,0.0,1,180.0,180.0,1,0,0,...,0,0,52.977778,5.256640e+05,3.461111,6.350000,0.416667,2.477778,224.0,1.0
2,dd3a01a3-7baf-4605-9799-ce434328a20d,0,0.0,0.0,0,0.0,0.0,1,0,0,...,0,0,0.000000,1.990593e+05,1.763314,3.455621,0.218935,8.053254,219.0,1.0
3,5cf5917c-f407-4cc7-9d6d-dafe8ec0eccc,0,0.0,0.0,0,0.0,0.0,1,0,0,...,0,0,0.000000,2.412951e+05,3.159091,34.590909,6.136364,31.590909,85.0,1.0
4,6437fcbd-02c4-4c52-b5b2-f7e535ecec47,1,0.0,0.0,0,0.0,0.0,1,0,0,...,0,1,0.000000,1.023210e+06,6.061111,22.461111,1.016667,11.933333,224.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55863,f89b108a-f453-4419-a4dc-5bf8e1cd1f1a,0,0.0,0.0,0,0.0,0.0,1,0,0,...,1,0,0.000000,1.175783e+05,13.696970,21.642424,0.242424,13.927273,215.0,1.0
55864,b703f1d4-57ba-48b6-8adf-46d7aba6a406,0,3049.0,3049.0,1,627.0,64.0,1,0,0,...,0,0,2871.596181,1.283120e+06,6.544444,26.194444,8.794444,145.922222,221.0,1.0
55865,e3b2212c-906e-4a8f-8307-6b88fc64d7a0,0,0.0,0.0,1,98.0,98.0,1,0,0,...,1,0,0.000000,1.008822e+06,5.307692,10.807692,0.365385,19.442308,97.0,1.0
55866,828df9bf-279c-47c3-96c2-92177a50b8fd,0,0.0,0.0,0,0.0,0.0,1,0,0,...,0,1,0.000000,1.787508e+00,15.693878,58.714286,0.000000,12.489796,89.0,1.0
55867,a0a14009-da02-4989-bdce-bc66146e0324,1,0.0,0.0,0,0.0,0.0,1,0,0,...,1,0,0.000000,7.842835e+05,10.622222,47.061111,1.261111,16.616667,223.0,1.0

In [19]:
test.columns

Index(['line_id', 'upgrade', 'quantity', 'total_quantity', 'lrp_enrolled',
       'length_of_membership', 'last_interaction', 'carrier_carrier 1',
       'carrier_carrier 2', 'carrier_carrier 3', 'plan_name_Other',
       'plan_name_not_given', 'plan_name_plan 1', 'plan_name_plan 2',
       'plan_name_plan 3', 'plan_name_plan 4', 'total_redemptions',
       'total_suspensions', 'total_unsuspensions', 'total_deactivations',
       'total_reactivations', 'reactivation_channel_APP',
       'reactivation_channel_IVR', 'reactivation_channel_SMS',
       'reactivation_channel_TAS', 'reactivation_channel_WEB',
       'reactivation_channel_other', 'date_observed', 'sim_size',
       'cpu_cores_2', 'cpu_cores_2+4', 'cpu_cores_4', 'cpu_cores_8',
       'cpu_cores_none', 'cpu_cores_other', 'expandable_storage_-1.0',
       'expandable_storage_0.0', 'expandable_storage_1.0',
       'gsma_device_type_Smartphone', 'gsma_device_type_none',
       'gsma_device_type_other', 'gsma_operating_system_Android',
       'gsma_operating_system_iOS', 'gsma_operating_system_none',
       'gsma_operating_system_other', 'internal_storage_capacity_16',
       'internal_storage_capacity_16/32/64/128',
       'internal_storage_capacity_32/128/256',
       'internal_storage_capacity_none', 'internal_storage_capacity_other',
       'lte_category_-1.0', 'lte_category_4.0', 'lte_category_6.0',
       'lte_category_9.0', 'lte_category_12.0', 'lte_category_16.0',
       'lte_category_other', 'manufacturer_Apple', 'manufacturer_LG',
       'manufacturer_Samsung', 'manufacturer_none', 'manufacturer_other',
       'os_name_Android', 'os_name_iOS', 'os_name_none', 'os_name_other',
       'os_version_10', 'os_version_11', 'os_version_12', 'os_version_6.0.1',
       'os_version_7', 'os_version_8', 'os_version_8.1', 'os_version_9',
       'os_version_none', 'os_version_other', 'total_ram_1024',
       'total_ram_2048', 'total_ram_3072', 'total_ram_4096', 'total_ram_none',
       'total_ram_other', 'hotspot_kb', 'total_kb', 'voice_count_total',
       'voice_min_total', 'mms_total', 'sms_total', 'length_of_connection',
       'used_network'],
      dtype='object')